USE [ProjeemOriginal]
GO
/****** Object:  Table [dbo].[indice]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[indice]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[indice](
	[cod_resultado] [numeric](18, 0) NOT NULL,
	[val_por_grupo] [varchar](6) NOT NULL,
	[referencia] [char](6) NOT NULL,
	[id_result_gp] [numeric](18, 0) NOT NULL,
	[sb_atual] [int] NOT NULL,
	[status_processamento] [nvarchar](7) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'indice', N'COLUMN',N'val_por_grupo'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor para aplicação por grupo em cada série' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'indice', @level2type=N'COLUMN',@level2name=N'val_por_grupo'
GO
INSERT [dbo].[indice] ([cod_resultado], [val_por_grupo], [referencia], [id_result_gp], [sb_atual], [status_processamento]) VALUES (CAST(1 AS Numeric(18, 0)), N'0,0001', N'201203', CAST(829 AS Numeric(18, 0)), 1, N'DEBITO')
/****** Object:  Table [dbo].[id_usuarios]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[id_usuarios]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[id_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inutil] [nchar](1) NOT NULL,
 CONSTRAINT [PK_id_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[id_contabilidade]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[id_contabilidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[id_contabilidade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inutil] [nchar](1) NOT NULL,
 CONSTRAINT [PK_id_contabilidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[grupos]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[grupos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[grupos](
	[id_grupo] [int] NOT NULL,
	[grupo] [int] NOT NULL,
	[debito_previsto] [decimal](18, 4) NOT NULL,
	[deducao_por_mvtc] [decimal](18, 4) NOT NULL,
	[credito] [decimal](18, 4) NOT NULL,
	[deduzido] [char](1) NOT NULL,
 CONSTRAINT [PK_grupos] PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (1, 1, CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (2, 2, CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (3, 3, CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
/****** Object:  Table [dbo].[carencia]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[carencia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[carencia](
	[id_carencia] [int] NOT NULL,
	[carencia] [int] NOT NULL,
 CONSTRAINT [PK_carencia] PRIMARY KEY CLUSTERED 
(
	[id_carencia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[carencia] ([id_carencia], [carencia]) VALUES (23, 22)
INSERT [dbo].[carencia] ([id_carencia], [carencia]) VALUES (31, 7)
INSERT [dbo].[carencia] ([id_carencia], [carencia]) VALUES (39, 7)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[bancas]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bancas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[bancas](
	[id_banca] [numeric](18, 0) NOT NULL,
	[descricao] [nvarchar](50) NOT NULL,
	[qtde_premio] [numeric](18, 0) NOT NULL,
	[val_Total_premio] [money] NOT NULL,
	[carencia_aposta] [numeric](18, 0) NOT NULL,
	[carencia_premio] [numeric](18, 0) NOT NULL,
	[relacao_aposta_premio] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_bancas] PRIMARY KEY CLUSTERED 
(
	[id_banca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[postos]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[postos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[postos](
	[id_ponto] [numeric](18, 0) NOT NULL,
	[id_banca] [numeric](18, 0) NOT NULL,
	[descricao] [nvarchar](50) NOT NULL,
	[qtde_premio] [numeric](18, 0) NOT NULL,
	[val_total_premio] [money] NOT NULL,
	[carencia_aposta] [numeric](18, 0) NOT NULL,
	[carencia_premio] [numeric](18, 0) NOT NULL,
	[relacao_aposta_premio] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_pontos] PRIMARY KEY CLUSTERED 
(
	[id_ponto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[status_series]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[status_series]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[status_series](
	[id] [int] NOT NULL,
	[descricao] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_status_series] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[status_series] ([id], [descricao]) VALUES (1, N'PROCESSING_115')
INSERT [dbo].[status_series] ([id], [descricao]) VALUES (2, N'RECAP_01_WAIT')
INSERT [dbo].[status_series] ([id], [descricao]) VALUES (3, N'RECAP_01_PROCESSING')
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIOS](
	[Codigo] [int] NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
	[Login] [nvarchar](15) NOT NULL,
	[Senha] [nvarchar](8) NOT NULL,
	[Acesso] [nvarchar](10) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[USUARIOS] ([Codigo], [Nome], [Login], [Senha], [Acesso]) VALUES (3, N'Carlos Aberto dos Santos', N'CAS', N']_]o=ue=', N'111111111')
INSERT [dbo].[USUARIOS] ([Codigo], [Nome], [Login], [Senha], [Acesso]) VALUES (9, N'Administrador', N'ADMIN', N'========', N'111111111')
/****** Object:  Table [dbo].[contabilidade]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[contabilidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[contabilidade](
	[id_aplicacao] [int] NOT NULL,
	[num_gp] [int] NOT NULL,
	[subperiodo] [int] NOT NULL,
	[debito_contabil] [decimal](18, 4) NOT NULL,
	[debito_real] [decimal](18, 4) NOT NULL,
	[credito_contabil] [decimal](18, 4) NOT NULL,
	[credito_real] [decimal](18, 4) NOT NULL,
	[saldo_sb_contabil] [decimal](18, 4) NOT NULL,
	[saldo_sb_real] [decimal](18, 4) NOT NULL,
	[capital_subsidiario] [decimal](18, 4) NOT NULL,
	[mvtc] [decimal](18, 4) NOT NULL,
	[premio_real] [nchar](3) NOT NULL,
	[saldo_contabil_acumulado] [decimal](18, 4) NOT NULL,
	[saldo_real_acumulado] [decimal](18, 4) NOT NULL,
	[aguardandoPR] [int] NOT NULL,
	[recapitalizando_01] [int] NOT NULL,
	[recapitalizando_02] [int] NOT NULL,
	[recapitalizando_03] [int] NOT NULL,
	[recapitalizando_04] [int] NOT NULL,
	[subsidio] [int] NOT NULL,
 CONSTRAINT [PK_aplicacao] PRIMARY KEY CLUSTERED 
(
	[id_aplicacao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[series]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[series]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[series](
	[id_serie] [int] NOT NULL,
	[gr_01] [int] NOT NULL,
	[gr_02] [int] NOT NULL,
	[carencia] [int] NOT NULL,
	[qtde_premio] [int] NOT NULL,
	[mor_carencia] [int] NOT NULL,
	[pr_aplicacao] [int] NOT NULL,
	[status] [nvarchar](35) NOT NULL,
	[carencia_recap] [int] NOT NULL,
	[aux_carencia] [int] NOT NULL,
	[max_carencia] [int] NOT NULL,
 CONSTRAINT [PK_series] PRIMARY KEY CLUSTERED 
(
	[id_serie] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (1, 1, 2, 0, 0, 0, 1, N'Processing_115', 0, 0, 0)
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (2, 1, 3, 0, 0, 0, 1, N'Processing_115', 0, 0, 0)
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (3, 1, 4, 0, 0, 0, 1, N'Processing_115', 0, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[resultados]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[resultados]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[resultados](
	[id_resultado] [numeric](18, 0) NOT NULL,
	[premio_1] [int] NOT NULL,
	[premio_2] [int] NOT NULL,
	[premio_3] [int] NOT NULL,
	[premio_4] [int] NOT NULL,
	[premio_5] [int] NOT NULL,
	[premio_6] [int] NOT NULL,
	[premio_7] [int] NOT NULL,
	[premio_8] [int] NOT NULL,
	[dt_resultado] [datetime] NOT NULL,
	[pr_resultado] [char](1) NOT NULL,
 CONSTRAINT [PK_resultados] PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[result_gp]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[result_gp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[result_gp](
	[id_result_gp] [int] NOT NULL,
	[gp] [int] NOT NULL,
	[dz] [int] NOT NULL,
 CONSTRAINT [PK_result_gp] PRIMARY KEY CLUSTERED 
(
	[id_result_gp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[result_gp] ([id_result_gp], [gp], [dz]) VALUES (1, 6, 22)
INSERT [dbo].[result_gp] ([id_result_gp], [gp], [dz]) VALUES (2, 9, 34)
INSERT [dbo].[result_gp] ([id_result_gp], [gp], [dz]) VALUES (3, 24, 95)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  Table [dbo].[referencia]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[referencia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[referencia](
	[id_referencia] [int] NOT NULL,
	[descricao] [char](6) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[recapitalizacao]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[recapitalizacao]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[recapitalizacao](
	[id_recapitalizacao] [int] NOT NULL,
	[recap01_wait] [int] NOT NULL,
	[recap01_processing] [int] NOT NULL,
	[recap01_Wvalor] [decimal](18, 4) NOT NULL,
	[recap01_Pvalor] [decimal](18, 4) NOT NULL,
	[recap02_wait] [int] NOT NULL,
	[recap02_processing] [int] NOT NULL,
	[recap02_Wvalor] [decimal](18, 4) NOT NULL,
	[recap02_Pvalor] [decimal](18, 4) NOT NULL,
	[recap03_wait] [int] NOT NULL,
	[recap03_processing] [int] NOT NULL,
	[recap03_Wvalor] [decimal](18, 4) NOT NULL,
	[recap03_Pvalor] [decimal](18, 4) NOT NULL,
	[recap04_wait] [int] NOT NULL,
	[recap04_processing] [int] NOT NULL,
	[recap04_Wvalor] [decimal](18, 4) NOT NULL,
	[recap04_Pvalor] [decimal](18, 4) NOT NULL,
	[recap05_wait] [int] NOT NULL,
	[recap05_processing] [int] NOT NULL,
	[recap05_Wvalor] [decimal](18, 4) NOT NULL,
	[recap05_Pvalor] [decimal](18, 4) NOT NULL,
	[subsidio_wait] [int] NOT NULL,
	[subsidio_ready] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  StoredProcedure [dbo].[Conta_Status]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conta_Status]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Conta_Status]

	@status varchar(15)

AS
	BEGIN
		select count(*) as total from series where status = @status
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Compara_Carencia]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Compara_Carencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Compara_Carencia]
	@id int
AS
	BEGIN
		update series set mor_carencia = carencia where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Carrega_Series]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrega_Series]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Carrega_Series]
AS
	BEGIN
		select * from series
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Carrega_Grupos]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrega_Grupos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Carrega_Grupos]

AS
	BEGIN
		Select * from grupos
	END
	RETURN
' 
END
GO
/****** Object:  Table [dbo].[estatistica_premio]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[estatistica_premio]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[estatistica_premio](
	[id_estatistica_premio] [int] NOT NULL,
	[p1] [int] NOT NULL,
	[p2] [int] NOT NULL,
	[p3] [int] NOT NULL,
	[p4] [int] NOT NULL,
	[p5] [int] NOT NULL,
	[p6] [int] NOT NULL,
	[p7] [int] NOT NULL,
	[p8] [int] NOT NULL,
	[p9] [int] NOT NULL,
	[p10] [int] NOT NULL,
	[p11] [int] NOT NULL,
	[p12] [int] NOT NULL,
	[p13] [int] NOT NULL,
	[p14] [int] NOT NULL,
	[p15] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[estatistica_carencia]    Script Date: 03/07/2012 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[estatistica_carencia](
	[id_estatistica_carencia] [int] NOT NULL,
	[c1] [int] NOT NULL,
	[c2] [int] NOT NULL,
	[c3] [int] NOT NULL,
	[c4] [int] NOT NULL,
	[c5] [int] NOT NULL,
	[c6] [int] NOT NULL,
	[c7] [int] NOT NULL,
	[c8] [int] NOT NULL,
	[c9] [int] NOT NULL,
	[c10] [int] NOT NULL,
	[c11] [int] NOT NULL,
	[c12] [int] NOT NULL,
	[c13] [int] NOT NULL,
	[c14] [int] NOT NULL,
	[c15] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  StoredProcedure [dbo].[Add_Contabilidade]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Add_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Add_Contabilidade]

	@id int, 
	@gp int, 
	@sb int, 
	@dbt_ctbil decimal(18,4), 
    @dbt_real decimal(18,4), 
    @cto_ctbil decimal(18,4), 
    @cto_real decimal(18,4), 
    @sdo_sb_ctbil decimal(18,4), 
    @sdo_sb_real decimal(18,4), 
    @cg_subsidiario decimal(18,4), 
    @mvct decimal(18,4), 
    @premio_real varchar(3), 
    @sdo_ctbl_acum decimal(18,4), 
    @sdo_real_acum decimal(18,4)
                        
AS
	/* SET NOCOUNT ON */
	BEGIN
       insert into contabilidade (id_aplicacao, 
									num_gp, 
									subperiodo, 
									debito_contabil, 
									debito_real, 
									credito_contabil, 
									credito_real, 
									saldo_sb_contabil, 
									saldo_sb_real, 
									capital_subsidiario, 
									mvtc, 
									premio_real, 
									saldo_contabil_acumulado, 
									saldo_real_acumulado 
									) values (
									@id, 
									@gp, 
									@sb, 
									@dbt_ctbil,
									@dbt_real,
									@cto_ctbil,
									@cto_real,
									@sdo_sb_ctbil,
									@sdo_sb_real,
									@cg_subsidiario,
									@mvct,
									@premio_real,
									@sdo_ctbl_acum,
									@sdo_real_acum)
	
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[User_Contabilidade]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[User_Contabilidade]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	/* SET NOCOUNT ON */
	Select * from Contabilidade
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[StoredProcedure6]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoredProcedure6]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[StoredProcedure6]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
		begin
		delete from series
	end

	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ZeraDebitosEDeducoes_Grupos]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZeraDebitosEDeducoes_Grupos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ZeraDebitosEDeducoes_Grupos]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	BEGIN
		update grupos set credito = 0, debito_previsto = 0, deducao_por_mvtc = 0
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Zera_Contadores]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zera_Contadores]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Zera_Contadores]

	@new_status varchar(15)

AS
	BEGIN
		update series set carencia = 0, mor_carencia = 0, carencia_recap = 0, qtde_premio = 0, status = @new_status
		--update series set carencia = 0, mor_carencia = 0, qtde_premio = 0
		--update series set carencia = 0, mor_carencia = 0, carencia_recap = 0, qtde_premio = 0, status = ''Processing_115''		
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Zera_Carencia_Recap]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zera_Carencia_Recap]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Zera_Carencia_Recap]

	@id int

AS
	BEGIN
		update series set carencia_recap = 0 where id_serie = @id
	END
	RETURN

' 
END
GO
/****** Object:  StoredProcedure [dbo].[Zera_Carencia]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zera_Carencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Zera_Carencia]

	@id int

AS
	BEGIN
		update series set carencia = 0 where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[SomaDebito_Wait]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SomaDebito_Wait]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SomaDebito_Wait]
AS
	BEGIN
		SELECT status, carencia from series where status = ''Recap_wait_01'' or status = ''Recap_wait_02'' 
		or status = ''Recap_wait_03'' or status = ''Recap_wait_04'' or status = ''Recap_wait_05''		
	END
	RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[SomaDebito_Proc]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SomaDebito_Proc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SomaDebito_Proc]
AS
	BEGIN
		SELECT gr_01, gr_02, [status], carencia from series where status = ''Recap_Proc_01'' or status = ''Recap_Proc_02'' 
		or status = ''Recap_Proc_03'' or status = ''Recap_Proc_04'' or status = ''Recap_Proc_05'' or  status = ''Processing_115''		
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Deleta_Contabilidade]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deleta_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Deleta_Contabilidade]

AS
	BEGIN
		delete from contabilidade
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ContaStatusEAgrupa]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContaStatusEAgrupa]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ContaStatusEAgrupa]
AS
	begin
		select status, count(status) as qtde_status from series group by status
	end
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Muda_Status]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Muda_Status]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Muda_Status]
	@id int,
	@new_status varchar(15)
AS
	BEGIN
		update series set status = @new_status where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Inserir_Registro_Series]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inserir_Registro_Series]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Inserir_Registro_Series]

            @id int,
            @gr_01 int,
            @gr_02 int,
            @carencia int,
            @qtde_premio int,
            @mor_carencia int, 
            @pr_aplicacao int,
            @status nvarchar(25),
            @carencia_recap int,
            @aux_carencia int,
            @max_carencia int                        

AS
	BEGIN
		INSERT INTO SERIES (id_serie, gr_01, gr_02, carencia, qtde_premio, mor_carencia, 
							pr_aplicacao, status, carencia_recap, aux_carencia, max_carencia) VALUES 
						   (@id, @gr_01, @gr_02, @carencia, @qtde_premio, @mor_carencia, 
						    @pr_aplicacao, @status, @carencia_recap, @aux_carencia, @max_carencia)
	END
	RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[Inicia_Status_Recap]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inicia_Status_Recap]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Inicia_Status_Recap]
	@id int,
	@new_status varchar(15)
AS
	BEGIN
		update series set status = @new_status, carencia_recap = 1 where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Aumenta_QtdePremio]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aumenta_QtdePremio]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Aumenta_QtdePremio]
	@id int
AS
	BEGIN
		update series set qtde_premio = (qtde_premio + 1) where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Aumenta_Carencia_Recap]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aumenta_Carencia_Recap]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Aumenta_Carencia_Recap]

	@id int

AS
	BEGIN
       update series set carencia_Recap = (carencia_Recap + 1) where id_serie = @id
	END
	RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[Aumenta_Carencia]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aumenta_Carencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Aumenta_Carencia]

	@id int

AS
	BEGIN
       update series set carencia = (carencia + 1) where id_serie = @id
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Exibe_Contabilidade]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exibe_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Exibe_Contabilidade]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	/* SET NOCOUNT ON */
	SELECT c.*, ec.*, ep.* from contabilidade c, 
								estatistica_carencia ec,
                                estatistica_premio ep 
                                WHERE c.id_aplicacao = ec.id_estatistica_carencia 
                                AND c.id_aplicacao = ep.id_estatistica_premio
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Add_Estatistica_Premio]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Add_Estatistica_Premio]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Add_Estatistica_Premio]

	@id int,
	@pre1 int,
	@pre2 int,
	@pre3 int,
	@pre4 int,
	@pre5 int,
	@pre6 int,
	@pre7 int,
	@pre8 int,
	@pre9 int,
	@pre10 int,
	@pre11 int,
	@pre12 int,
	@pre13 int,
	@pre14 int,
	@pre15 int

AS
	BEGIN
		insert into estatistica_premio (id_estatistica_premio, 
										  p1, 
										  p2, 
										  p3, 
										  p4, 
										  p5, 
										  p6, 
										  p7, 
										  p8, 
										  p9, 
										  p10, 
										  p11, 
										  p12, 
										  p13, 
										  p14, 
										  p15
										  ) values ( 										  
										  @id,  
										  @pre1, 
										  @pre2,  
										  @pre3, 
										  @pre4, 
										  @pre5, 
										  @pre6, 
										  @pre7, 
										  @pre8, 
										  @pre9, 
										  @pre10, 
										  @pre11, 
										  @pre12, 
										  @pre13, 
										  @pre14, 
										  @pre15)	
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Add_Estatistica_Carencia]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Add_Estatistica_Carencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Add_Estatistica_Carencia]

	@id int,
	@car1 int,
	@car2 int,
	@car3 int,
	@car4 int,
	@car5 int,
	@car6 int,
	@car7 int,
	@car8 int,
	@car9 int,
	@car10 int,
	@car11 int,
	@car12 int,
	@car13 int,
	@car14 int,
	@car15 int

AS
	BEGIN
		insert into estatistica_carencia (id_estatistica_carencia, 
										  c1, 
										  c2, 
										  c3, 
										  c4, 
										  c5, 
										  c6, 
										  c7, 
										  c8, 
										  c9, 
										  c10, 
										  c11, 
										  c12, 
										  c13, 
										  c14, 
										  c15
										  ) values ( 
										  @id,  
										  @car1, 
										  @car2,  
										  @car3, 
										  @car4, 
										  @car5, 
										  @car6, 
										  @car7, 
										  @car8, 
										  @car9, 
										  @car10, 
										  @car11, 
										  @car12, 
										  @car13, 
										  @car14, 
										  @car15)
	
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Deleta_Estatistica_Premio]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deleta_Estatistica_Premio]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Deleta_Estatistica_Premio]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	/* SET NOCOUNT ON */
	BEGIN
		delete from estatistica_premio
	END
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[Deleta_Estatistica_Carencia]    Script Date: 03/07/2012 11:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deleta_Estatistica_Carencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Deleta_Estatistica_Carencia]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	/* SET NOCOUNT ON */
	BEGIN
		delete from estatistica_carencia 
	END
' 
END
GO
/****** Object:  Default [DF_banca_qtde_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
/****** Object:  Default [DF_banca_val_Total_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_val_Total_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_val_Total_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_val_Total_premio]  DEFAULT ((0)) FOR [val_Total_premio]
END


End
GO
/****** Object:  Default [DF_banca_carencia_aposta]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_carencia_aposta]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_carencia_aposta]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_carencia_aposta]  DEFAULT ((0)) FOR [carencia_aposta]
END


End
GO
/****** Object:  Default [DF_bancas_relacao_aposta_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_bancas_relacao_aposta_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_bancas_relacao_aposta_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_bancas_relacao_aposta_premio]  DEFAULT ((0)) FOR [relacao_aposta_premio]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_debito_contabil]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_debito_contabil]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_debito_contabil]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_debito_contabil]  DEFAULT ((0)) FOR [debito_contabil]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_credito_contabil]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_credito_contabil]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_credito_contabil]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_credito_contabil]  DEFAULT ((0)) FOR [credito_contabil]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_credito_real]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_credito_real]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_credito_real]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_credito_real]  DEFAULT ((0)) FOR [credito_real]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_saldo_sb_contabil]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_sb_contabil]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_sb_contabil]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_sb_contabil]  DEFAULT ((0)) FOR [saldo_sb_contabil]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_saldo_sb_real]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_sb_real]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_sb_real]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_sb_real]  DEFAULT ((0)) FOR [saldo_sb_real]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_capital_subsidiario]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_capital_subsidiario]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_capital_subsidiario]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_capital_subsidiario]  DEFAULT ((0)) FOR [capital_subsidiario]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_saldo_contabil_acumulado]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_contabil_acumulado]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_contabil_acumulado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_contabil_acumulado]  DEFAULT ((0)) FOR [saldo_contabil_acumulado]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_saldo_real_acumulado]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_real_acumulado]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_real_acumulado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_real_acumulado]  DEFAULT ((0)) FOR [saldo_real_acumulado]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]  DEFAULT ((0)) FOR [aguardandoPR]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_recapitalizando_01]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_recapitalizando_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_recapitalizando_01]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_recapitalizando_01]  DEFAULT ((0)) FOR [recapitalizando_01]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_recapitalizando_02]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_recapitalizando_02]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_recapitalizando_02]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_recapitalizando_02]  DEFAULT ((0)) FOR [recapitalizando_02]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_recapitalizando_03]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_recapitalizando_03]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_recapitalizando_03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_recapitalizando_03]  DEFAULT ((0)) FOR [recapitalizando_03]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_recapitalizando_04]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_recapitalizando_04]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_recapitalizando_04]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_recapitalizando_04]  DEFAULT ((0)) FOR [recapitalizando_04]
END


End
GO
/****** Object:  Default [DF_controle_aplicacao_gp_subsidio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_subsidio]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_subsidio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_subsidio]  DEFAULT ((0)) FOR [subsidio]
END


End
GO
/****** Object:  Default [DF_estatistica_carencia_c13]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_estatistica_carencia_c13]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_estatistica_carencia_c13]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[estatistica_carencia] ADD  CONSTRAINT [DF_estatistica_carencia_c13]  DEFAULT ((0)) FOR [c13]
END


End
GO
/****** Object:  Default [DF_estatistica_carencia_c14]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_estatistica_carencia_c14]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_estatistica_carencia_c14]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[estatistica_carencia] ADD  CONSTRAINT [DF_estatistica_carencia_c14]  DEFAULT ((0)) FOR [c14]
END


End
GO
/****** Object:  Default [DF_estatistica_carencia_c15]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_estatistica_carencia_c15]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_estatistica_carencia_c15]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[estatistica_carencia] ADD  CONSTRAINT [DF_estatistica_carencia_c15]  DEFAULT ((0)) FOR [c15]
END


End
GO
/****** Object:  Default [DF_grupos_debito_previsto]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_debito_previsto]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_debito_previsto]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_debito_previsto]  DEFAULT ((0)) FOR [debito_previsto]
END


End
GO
/****** Object:  Default [DF_grupos_deducao_por_mvtc]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_deducao_por_mvtc]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_deducao_por_mvtc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_deducao_por_mvtc]  DEFAULT ((0)) FOR [deducao_por_mvtc]
END


End
GO
/****** Object:  Default [DF_grupos_credito]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_credito]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_credito]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_credito]  DEFAULT ((0)) FOR [credito]
END


End
GO
/****** Object:  Default [DF_grupos_deduzido_1]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_deduzido_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_deduzido_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_deduzido_1]  DEFAULT ('N') FOR [deduzido]
END


End
GO
/****** Object:  Default [DF_indice_sb_atual]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_indice_sb_atual]') AND parent_object_id = OBJECT_ID(N'[dbo].[indice]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_indice_sb_atual]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[indice] ADD  CONSTRAINT [DF_indice_sb_atual]  DEFAULT ((1)) FOR [sb_atual]
END


End
GO
/****** Object:  Default [DF_postos_qtde_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
/****** Object:  Default [DF_postos_val_total_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_val_total_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_val_total_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_val_total_premio]  DEFAULT ((0)) FOR [val_total_premio]
END


End
GO
/****** Object:  Default [DF_postos_carencia_aposta]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_carencia_aposta]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_carencia_aposta]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_carencia_aposta]  DEFAULT ((0)) FOR [carencia_aposta]
END


End
GO
/****** Object:  Default [DF_postos_carencia_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_carencia_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_carencia_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_carencia_premio]  DEFAULT ((0)) FOR [carencia_premio]
END


End
GO
/****** Object:  Default [DF_postos_relacao_aposta_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_relacao_aposta_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_relacao_aposta_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_relacao_aposta_premio]  DEFAULT ((0)) FOR [relacao_aposta_premio]
END


End
GO
/****** Object:  Default [DF_series_carencia]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_carencia]  DEFAULT ((0)) FOR [carencia]
END


End
GO
/****** Object:  Default [DF_series_qtde_premio]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
/****** Object:  Default [DF_series_mor_carencia]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_mor_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_mor_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_mor_carencia]  DEFAULT ((0)) FOR [mor_carencia]
END


End
GO
/****** Object:  Default [DF_series_pr_aplicacao]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_pr_aplicacao]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_pr_aplicacao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_pr_aplicacao]  DEFAULT ((1)) FOR [pr_aplicacao]
END


End
GO
/****** Object:  Default [DF_series_carencia_recap]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_carencia_recap]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_carencia_recap]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_carencia_recap]  DEFAULT ((0)) FOR [carencia_recap]
END


End
GO
/****** Object:  Default [DF_series_aux_carencia]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_aux_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_aux_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_aux_carencia]  DEFAULT ((0)) FOR [aux_carencia]
END


End
GO
/****** Object:  Default [DF_series_max_carencia]    Script Date: 03/07/2012 11:28:56 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_max_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_max_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_max_carencia]  DEFAULT ((0)) FOR [max_carencia]
END


End
GO
/****** Object:  ForeignKey [FK_estatistica_carencia_contabilidade]    Script Date: 03/07/2012 11:28:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_estatistica_carencia_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]'))
ALTER TABLE [dbo].[estatistica_carencia]  WITH CHECK ADD  CONSTRAINT [FK_estatistica_carencia_contabilidade] FOREIGN KEY([id_estatistica_carencia])
REFERENCES [dbo].[contabilidade] ([id_aplicacao])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_estatistica_carencia_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_carencia]'))
ALTER TABLE [dbo].[estatistica_carencia] CHECK CONSTRAINT [FK_estatistica_carencia_contabilidade]
GO
/****** Object:  ForeignKey [FK_estatistica_premio_contabilidade]    Script Date: 03/07/2012 11:28:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_estatistica_premio_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_premio]'))
ALTER TABLE [dbo].[estatistica_premio]  WITH CHECK ADD  CONSTRAINT [FK_estatistica_premio_contabilidade] FOREIGN KEY([id_estatistica_premio])
REFERENCES [dbo].[contabilidade] ([id_aplicacao])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_estatistica_premio_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[estatistica_premio]'))
ALTER TABLE [dbo].[estatistica_premio] CHECK CONSTRAINT [FK_estatistica_premio_contabilidade]
GO
/****** Object:  ForeignKey [FK_recapitalizacao_contabilidade]    Script Date: 03/07/2012 11:28:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_recapitalizacao_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[recapitalizacao]'))
ALTER TABLE [dbo].[recapitalizacao]  WITH CHECK ADD  CONSTRAINT [FK_recapitalizacao_contabilidade] FOREIGN KEY([id_recapitalizacao])
REFERENCES [dbo].[contabilidade] ([id_aplicacao])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_recapitalizacao_contabilidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[recapitalizacao]'))
ALTER TABLE [dbo].[recapitalizacao] CHECK CONSTRAINT [FK_recapitalizacao_contabilidade]
GO
