USE [Projeem_III_Empresa2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[indice]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[indice](
	[cod_resultado] [numeric](18, 0) NOT NULL,
	[val_por_grupo] [varchar](6) NOT NULL,
	[referencia] [char](6) NOT NULL,
	[id_result_gp] [numeric](18, 0) NOT NULL,
	[sb_atual] [int] NOT NULL,
	[status_processamento] [nvarchar](7) NOT NULL,
	[proc115_qtde] [int] NULL,
	[proc115_valor] [decimal](18, 2) NULL,
	[id_contabilidade] [int] NULL,
	[MaxCGContabil] [nvarchar](50) NULL,
	[MaxCGReal] [nvarchar](50) NULL,
	[db_em_uso] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'indice', N'COLUMN',N'val_por_grupo'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor para aplicação por grupo em cada série' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'indice', @level2type=N'COLUMN',@level2name=N'val_por_grupo'
GO
INSERT [dbo].[indice] ([cod_resultado], [val_por_grupo], [referencia], [id_result_gp], [sb_atual], [status_processamento], [proc115_qtde], [proc115_valor], [id_contabilidade], [MaxCGContabil], [MaxCGReal], [db_em_uso]) VALUES (CAST(1 AS Numeric(18, 0)), N'0,0001', N'201204', CAST(829 AS Numeric(18, 0)), 3, N'DEBITO', NULL, NULL, 8, N'0', N'-75,81', NULL)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[id_contabilidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[id_contabilidade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inutil] [nchar](1) NOT NULL,
 CONSTRAINT [PK_id_contabilidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[grupos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[grupos](
	[id_grupo] [int] NOT NULL,
	[grupo] [int] NOT NULL,
	[debito_previsto] [decimal](18, 4) NOT NULL,
	[deducao_por_mvtc] [decimal](18, 4) NOT NULL,
	[credito] [decimal](18, 4) NOT NULL,
	[deduzido] [char](1) NOT NULL,
 CONSTRAINT [PK_grupos] PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (1, 1, CAST(7.7280 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (2, 2, CAST(7.7280 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
INSERT [dbo].[grupos] ([id_grupo], [grupo], [debito_previsto], [deducao_por_mvtc], [credito], [deduzido]) VALUES (3, 3, CAST(7.7280 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'S')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fechamento_capitalizacao]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[fechamento_capitalizacao](
	[id] [int] NOT NULL,
	[descricao] [nchar](10) NOT NULL,
	[data_ini] [datetime] NOT NULL,
	[data_fim] [datetime] NOT NULL,
 CONSTRAINT [PK_fechamento_capitalizacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[contabilidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[contabilidade](
	[id_aplicacao] [int] NOT NULL,
	[num_gp] [int] NOT NULL,
	[subperiodo] [int] NOT NULL,
	[debito_real] [decimal](18, 4) NOT NULL,
	[credito_real] [decimal](18, 4) NOT NULL,
	[saldo_sb_real] [decimal](18, 4) NOT NULL,
	[saldo_real_acumulado] [decimal](18, 4) NOT NULL,
	[aguardandoPR] [int] NOT NULL,
 CONSTRAINT [PK_aplicacao] PRIMARY KEY CLUSTERED 
(
	[id_aplicacao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[contabilidade] ([id_aplicacao], [num_gp], [subperiodo], [debito_real], [credito_real], [saldo_sb_real], [saldo_real_acumulado], [aguardandoPR]) VALUES (7, 7, 1, CAST(25.7600 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(-25.7600 AS Decimal(18, 4)), CAST(-25.7600 AS Decimal(18, 4)), 0)
INSERT [dbo].[contabilidade] ([id_aplicacao], [num_gp], [subperiodo], [debito_real], [credito_real], [saldo_sb_real], [saldo_real_acumulado], [aguardandoPR]) VALUES (8, 24, 2, CAST(50.0480 AS Decimal(18, 4)), CAST(139.1040 AS Decimal(18, 4)), CAST(89.0560 AS Decimal(18, 4)), CAST(63.2960 AS Decimal(18, 4)), 0)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bancas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[bancas](
	[id_banca] [numeric](18, 0) NOT NULL,
	[descricao] [nvarchar](50) NOT NULL,
	[qtde_premio] [numeric](18, 0) NOT NULL,
	[val_Total_premio] [money] NOT NULL,
	[carencia_aposta] [numeric](18, 0) NOT NULL,
	[carencia_premio] [numeric](18, 0) NOT NULL,
	[relacao_aposta_premio] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_bancas] PRIMARY KEY CLUSTERED 
(
	[id_banca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[series]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[series](
	[id_serie] [int] NOT NULL,
	[gr_01] [int] NOT NULL,
	[gr_02] [int] NOT NULL,
	[gr_03] [int] NULL,
	[carencia] [int] NOT NULL,
	[qtde_premio] [int] NOT NULL,
	[mor_carencia] [int] NOT NULL,
	[pr_aplicacao] [int] NOT NULL,
	[status] [nvarchar](35) NOT NULL,
	[carencia_recap] [int] NOT NULL,
	[aux_carencia] [int] NOT NULL,
	[max_carencia] [int] NOT NULL,
 CONSTRAINT [PK_series] PRIMARY KEY CLUSTERED 
(
	[id_serie] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [gr_03], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (1, 1, 2, 3, 2, 0, 2, 1, N'Processing_115', 0, 0, 0)
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [gr_03], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (2, 1, 2, 4, 2, 0, 2, 1, N'Processing_115', 0, 0, 0)
INSERT [dbo].[series] ([id_serie], [gr_01], [gr_02], [gr_03], [carencia], [qtde_premio], [mor_carencia], [pr_aplicacao], [status], [carencia_recap], [aux_carencia], [max_carencia]) VALUES (3, 1, 2, 5, 2, 0, 2, 1, N'Processing_115', 0, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[resultados]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[resultados](
	[id_resultado] [numeric](18, 0) NOT NULL,
	[premio_1] [int] NOT NULL,
	[premio_2] [int] NOT NULL,
	[premio_3] [int] NOT NULL,
	[premio_4] [int] NOT NULL,
	[premio_5] [int] NOT NULL,
	[premio_6] [int] NOT NULL,
	[premio_7] [int] NOT NULL,
	[premio_8] [int] NOT NULL,
	[dt_resultado] [datetime] NOT NULL,
	[pr_resultado] [char](1) NOT NULL,
 CONSTRAINT [PK_resultados] PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[postos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[postos](
	[id_ponto] [numeric](18, 0) NOT NULL,
	[id_banca] [numeric](18, 0) NOT NULL,
	[descricao] [nvarchar](50) NOT NULL,
	[qtde_premio] [numeric](18, 0) NOT NULL,
	[val_total_premio] [money] NOT NULL,
	[carencia_aposta] [numeric](18, 0) NOT NULL,
	[carencia_premio] [numeric](18, 0) NOT NULL,
	[relacao_aposta_premio] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_pontos] PRIMARY KEY CLUSTERED 
(
	[id_ponto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Upd_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Upd_Contabilidade]

	@id int, 
	@gp int, 
    @dbt_real decimal(18,4), 
    @cto_real decimal(18,4), 
    @sdo_sb_real decimal(18,4), 
    @sdo_real_acum decimal(18,4)
                        
AS
	/* SET NOCOUNT ON */
	BEGIN
       update contabilidade set 
				num_gp = @gp,				
				debito_real = @dbt_real,
				credito_real = @cto_real,
				saldo_sb_real = @sdo_sb_real,
				saldo_real_acumulado = @sdo_real_acum WHERE id_aplicacao = @id;
	
	END
	RETURN
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inserir_Registro_Series]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Inserir_Registro_Series]

            @id int,
            @gr_01 int,
            @gr_02 int,
            @gr_03 int,
            @carencia int,
            @qtde_premio int,
            @mor_carencia int, 
            @pr_aplicacao int,
            @status nvarchar(25),
            @carencia_recap int,
            @aux_carencia int,
            @max_carencia int                        

AS
	BEGIN
		INSERT INTO SERIES (id_serie, gr_01, gr_02, gr_03,  carencia, qtde_premio, mor_carencia, 
							pr_aplicacao, status, carencia_recap, aux_carencia, max_carencia) VALUES 
						   (@id, @gr_01, @gr_02, @gr_03, @carencia, @qtde_premio, @mor_carencia, 
						    @pr_aplicacao, @status, @carencia_recap, @aux_carencia, @max_carencia)
	END
	RETURN' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Add_Contabilidade]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Add_Contabilidade]

	@id int, 
	@gp int, 
	@sb int, 
    @dbt_real decimal(18,4), 
    @cto_real decimal(18,4), 
    @sdo_sb_real decimal(18,4), 
    @sdo_real_acum decimal(18,4)
                        
AS
	/* SET NOCOUNT ON */
	BEGIN
       insert into contabilidade (id_aplicacao, 
									num_gp, 
									subperiodo, 
									debito_real, 
									credito_real, 
									saldo_sb_real, 
									saldo_real_acumulado 
									) values (
									@id, 
									@gp, 
									@sb, 
									@dbt_real,
									@cto_real,
									@sdo_sb_real,
									@sdo_real_acum)
	
	END
	RETURN
' 
END
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_val_Total_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_val_Total_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_val_Total_premio]  DEFAULT ((0)) FOR [val_Total_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_banca_carencia_aposta]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_banca_carencia_aposta]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_banca_carencia_aposta]  DEFAULT ((0)) FOR [carencia_aposta]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_bancas_relacao_aposta_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[bancas]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_bancas_relacao_aposta_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[bancas] ADD  CONSTRAINT [DF_bancas_relacao_aposta_premio]  DEFAULT ((0)) FOR [relacao_aposta_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_credito_real]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_credito_real]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_credito_real]  DEFAULT ((0)) FOR [credito_real]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_sb_real]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_sb_real]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_sb_real]  DEFAULT ((0)) FOR [saldo_sb_real]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_saldo_real_acumulado]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_saldo_real_acumulado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_saldo_real_acumulado]  DEFAULT ((0)) FOR [saldo_real_acumulado]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]') AND parent_object_id = OBJECT_ID(N'[dbo].[contabilidade]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[contabilidade] ADD  CONSTRAINT [DF_controle_aplicacao_gp_QtdeSRAguardandoPremio]  DEFAULT ((0)) FOR [aguardandoPR]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_debito_previsto]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_debito_previsto]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_debito_previsto]  DEFAULT ((0)) FOR [debito_previsto]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_deducao_por_mvtc]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_deducao_por_mvtc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_deducao_por_mvtc]  DEFAULT ((0)) FOR [deducao_por_mvtc]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_credito]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_credito]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_credito]  DEFAULT ((0)) FOR [credito]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_grupos_deduzido_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[grupos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_grupos_deduzido_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[grupos] ADD  CONSTRAINT [DF_grupos_deduzido_1]  DEFAULT ('N') FOR [deduzido]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_indice_sb_atual]') AND parent_object_id = OBJECT_ID(N'[dbo].[indice]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_indice_sb_atual]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[indice] ADD  CONSTRAINT [DF_indice_sb_atual]  DEFAULT ((1)) FOR [sb_atual]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_indice_MaxSaldoContabilAcumulado]') AND parent_object_id = OBJECT_ID(N'[dbo].[indice]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_indice_MaxSaldoContabilAcumulado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[indice] ADD  CONSTRAINT [DF_indice_MaxSaldoContabilAcumulado]  DEFAULT ((0.00)) FOR [MaxCGContabil]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_indice_MaxSaldoRealAcumulado]') AND parent_object_id = OBJECT_ID(N'[dbo].[indice]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_indice_MaxSaldoRealAcumulado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[indice] ADD  CONSTRAINT [DF_indice_MaxSaldoRealAcumulado]  DEFAULT ((0.00)) FOR [MaxCGReal]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_val_total_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_val_total_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_val_total_premio]  DEFAULT ((0)) FOR [val_total_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_carencia_aposta]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_carencia_aposta]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_carencia_aposta]  DEFAULT ((0)) FOR [carencia_aposta]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_carencia_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_carencia_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_carencia_premio]  DEFAULT ((0)) FOR [carencia_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_postos_relacao_aposta_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[postos]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_postos_relacao_aposta_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[postos] ADD  CONSTRAINT [DF_postos_relacao_aposta_premio]  DEFAULT ((0)) FOR [relacao_aposta_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_carencia]  DEFAULT ((0)) FOR [carencia]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_qtde_premio]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_qtde_premio]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_qtde_premio]  DEFAULT ((0)) FOR [qtde_premio]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_mor_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_mor_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_mor_carencia]  DEFAULT ((0)) FOR [mor_carencia]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_pr_aplicacao]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_pr_aplicacao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_pr_aplicacao]  DEFAULT ((1)) FOR [pr_aplicacao]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_carencia_recap]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_carencia_recap]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_carencia_recap]  DEFAULT ((0)) FOR [carencia_recap]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_aux_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_aux_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_aux_carencia]  DEFAULT ((0)) FOR [aux_carencia]
END


End
GO
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_series_max_carencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[series]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_series_max_carencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[series] ADD  CONSTRAINT [DF_series_max_carencia]  DEFAULT ((0)) FOR [max_carencia]
END


End
GO
